#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* ==== Theme Colors ==== */

body[data-theme="light"] {
  background: #f8f9fa;
  color: #222
}

body[data-theme="dark"] {
  background: #121212;
  color: #f0f0f0;
}


/* Smooth transition on theme change  */
body {
  transition: background 0.4s ease, color 0.4s ease;
}


/* ==== Theme Toggle Button ==== */

.theme-toggle {
  display: inline-block;
  margin: 0 auto 20px auto;   
  padding: 8px 20px;
  border: none;
  background: #6c5ce7;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  opacity: 0.85;
}



/* ==== Add transaction button glow === */
.add-transaction-btn {
  background: linear-gradient(90deg, #6a5acd, #00b4d8);
  border: none !important;
  color: white;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  transition: box-shadow 0.3s ease, transform 0.2s;
}

.add-transaction-btn:hover {
  box-shadow: 0 0 16px rgba(106, 90, 205, 0.7),
              0 0 30px rgba(0, 180, 216, 0.4);
  transform: translateY(-2px);
}